@using cnap_app.Models;

@{
    ViewData["Title"] = "Upload";
}

<p class="fs-5"><i class="fa-solid fa-upload"></i> <span style="color:blue"><b>Upload :</b></span> Resultado da operação.</p>

<hr>
<div class="container">
    @if (ViewData["Erro"] != null)
    {
        <p class="fs-5">
            <span style="color:red">
                <b>Erro: </b>
            </span>
            @{
                foreach (var item in ViewData["Erro"] as List<string>)
                {
                    @item
                    <br>
                }
            }
        </p>
    }
</div>

<div class="container">
    @if (ViewData["Resultado"] != null)
    {
        UploadResultado uploadResultado = (UploadResultado)ViewData["Resultado"];

        <p class="fs-5">
            <span style="color:green">
                <b>Sucesso: </b>
            </span>
            @uploadResultado.Mensagem
        </p>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col" class="table-primary">Tipo</th>
                    <th scope="col" class="table-primary">Data</th>
                    <th scope="col" class="table-primary">Hora</th>
                    <th scope="col" class="table-primary">Valor</th>
                    <th scope="col" class="table-primary">CPF</th>
                    <th scope="col" class="table-primary">Cartão</th>
                    <th scope="col" class="table-primary">Dono da Loja</th>
                    <th scope="col" class="table-primary">Nome da Loja</th>
                </tr>
            </thead>
            <tbody>

                @{
                    foreach (var item in uploadResultado.Registros)
                    {
                        <tr>
                            <th scope="row">@item.Tipo</th>
                            <td>@item.Data.ToString("dd/MM/yyyy")</td>
                            <td>@item.Hora</td>
                            <td>R$ @item.Valor</td>
                            <td>@item.CPF</td>
                            <td>@item.Cartao</td>
                            <td>@item.DonoLoja</td>
                            <td>@item.NomeLoja</td>
                        </tr>
                    }

                }
            </tbody>
        </table>

    }
</div>

<a class="btn btn-primary btn-sm" asp-area="" asp-controller="Upload" asp-action="Index">Voltar</a>
